<div class="ui-g">
  <div class="ui-g-6 ui-md-6 ui-sm-12">
    <div>
      <app-selfie-selector></app-selfie-selector>
      <br>
      <app-profile-presenter></app-profile-presenter>
    </div>
  </div>
</div>
