<p-card>
  <div *ngIf="!webcamActivated && !lastSnapshot">{{'screen.selfie.capture.switch' | translate}}</div>
  <webcam *ngIf="webcamActivated"
          [trigger]="snapshotRequestObservable"
          (imageCapture)="handleCapture($event)"
          (initError)="handleWebcamError($event)"
          [width]="400"
          [height]="400">
  </webcam>
  <div *ngIf="lastSnapshot">
    <img [src]="lastSnapshot.imageAsDataUrl"
         [width]="400"/>
  </div>
  <p-footer>
    <button *ngIf="webcamActivated"
            pButton type="button" label="{{'screen.selfie.capture.snap' | translate}}" icon="fa-plus"
            (click)="doSnapshot()"></button>
    <button *ngIf="webcamActivated"
            pButton type="button" label="{{'screen.selfie.capture.switch-off' | translate}}" class="ui-button-secondary" icon="fa-close"
            (click)="toggleWebcam()"></button>
    <button *ngIf="!webcamActivated && !lastSnapshot"
            pButton type="button" label="{{'screen.selfie.capture.begin' | translate}}" icon="fa-plus"
            (click)="toggleWebcam()"></button>
    <button *ngIf="lastSnapshot"
            pButton type="button" label="{{'screen.selfie.capture.choose' | translate}}" icon="fa-check"
            (click)="validateCapture()"></button>
    <button *ngIf="lastSnapshot"
            pButton type="button" label="{{'screen.selfie.capture.continue' | translate}}" class="ui-button-secondary" icon="fa-close"
            (click)="continueCapture()"></button>
  </p-footer>
</p-card>
