<div *ngIf="isEstimating">
  <p-card title="{{'screen.profile.title' | translate}}"
          subtitle="{{'screen.profile.estimating' | translate}}">
    <p-progressSpinner></p-progressSpinner>
  </p-card>
</div>
<div *ngIf="prediction && isPresenting">
  <p-card title="{{'screen.profile.estimated.title' | translate}}">
    <p-accordion>
      <p-accordionTab [disabled]="genderHasBeenCorrected">
        <p-header>{{'screen.profile.estimated.gender' | translate}}: {{'label.gender.' + profile.gender | translate}}</p-header>
        <div *ngFor="let probability of genderProbabilities; let i = index">
          {{'label.gender.' + i | translate}}
          <p-progressBar [value]="probability * 100.0"></p-progressBar>
        </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion>
      <p-accordionTab [disabled]="ageHasBeenCorrected">
        <p-header>{{'screen.profile.estimated.age' | translate}}: {{'label.age.' + profile.age | translate}}</p-header>
        <div *ngFor="let probability of ageProbabilities; let i = index">
          {{'label.age.' + i | translate}}
          <p-progressBar [value]="probability * 100.0"></p-progressBar>
        </div>
      </p-accordionTab>
    </p-accordion>
    <p-accordion>
      <p-accordionTab [disabled]="weightHasBeenCorrected">
        <p-header>{{'screen.profile.estimated.weight' | translate}}: {{'label.weight.' + profile.weight | translate}}</p-header>
        <div *ngFor="let probability of weightProbabilities; let i = index">
          {{'label.weight.' + i | translate}}
          <p-progressBar [value]="probability * 100.0"></p-progressBar>
        </div>
      </p-accordionTab>
    </p-accordion>
    <p-footer>
      <button pButton type="button" label="{{'screen.profile.estimated.validate' | translate}}" class="ui-button-success" icon="fa-check"
              (click)="validateEstimate()"></button>
      <button pButton type="button" label="{{'screen.profile.estimated.correct' | translate}}" class="ui-button-secondary" icon="fa-plus"
              (click)="startCorrection()"></button>
    </p-footer>
  </p-card>
</div>
<div *ngIf="prediction && isCorrecting">
  <app-profile-corrector [profile]="prediction"
                         (onCorrectionSubmitted)="onCorrectionSubmitted($event)"
                         (onCorrectionAbandoned)="onCorrectionAbandoned()">
  </app-profile-corrector>
</div>
<div>
  <p-messages key="presenter"></p-messages>
  <p-messages key="corrector"></p-messages>
</div>
