<p-card title="{{'screen.selfie.title' | translate}}">
  <p-fileUpload name="data"
                [url]="profilerUrl"
                (onBeforeUpload)="onBeforeUpload($event)"
                (onUpload)="onUpload($event)"
                [accept]="imageFormatFilter"
                [maxFileSize]="fileSizeLimit"
                auto="true"
                chooseLabel="{{'screen.selfie.selector.browse' | translate}}">
    <ng-template pTemplate="content">
      <div>{{'screen.selfie.selector.drop' | translate}}</div>
    </ng-template>
  </p-fileUpload>
  <div>
    <p-messages key="upload"></p-messages>
  </div>
  <br>
  <app-selfie-capture></app-selfie-capture>
  <div>
    <p-messages key="capture"></p-messages>
  </div>
</p-card>
