<p-card title="{{'screen.profile.corrector.title' | translate}}">
  <form [formGroup]="fg" (submit)="fg.valid && submitCorrection()">
    <p-card>
      <p-accordion>
        <p-accordionTab [selected]="true">
          <p-header>{{'screen.profile.estimated.gender' | translate}}: {{'label.gender.' + profile.gender | translate}}</p-header>
          <div *ngFor="let v of profile.genderProbabilities; let i = index">
            <p-radioButton formControlName="gender"
                           name="gender"
                           [value]="i"
                           label="{{'label.gender.' + i | translate}}"></p-radioButton>
          </div>
        </p-accordionTab>
      </p-accordion>
      <p-accordion>
        <p-accordionTab>
          <p-header>{{'screen.profile.estimated.age' | translate}}: {{'label.age.' + profile.age | translate}}</p-header>
          <div *ngFor="let v of profile.ageProbabilities; let i = index">
            <p-radioButton formControlName="age"
                           name="age"
                           [value]="i"
                           label="{{'label.age.' + i | translate}}"></p-radioButton>
          </div>
        </p-accordionTab>
      </p-accordion>
      <p-accordion>
        <p-accordionTab>
          <p-header>{{'screen.profile.estimated.weight' | translate}}: {{'label.weight.' + profile.weight | translate}}</p-header>
          <div *ngFor="let v of profile.weightProbabilities; let i = index">
            <p-radioButton formControlName="weight"
                           name="weight"
                           [value]="i"
                           label="{{'label.weight.' + i | translate}}"></p-radioButton>
          </div>
        </p-accordionTab>
      </p-accordion>
    </p-card>
    <br>
    <p-footer>
      <button pButton type="submit" label="{{'screen.profile.corrector.submit' | translate}}" icon="fa-check"
              [disabled]="fg.invalid"></button>
      <button pButton type="button" label="{{'screen.profile.corrector.abandon' | translate}}" class="ui-button-secondary" icon="fa-close"
              (click)="abandonCorrection()"></button>
    </p-footer>
  </form>
</p-card>
